<!DOCTYPE html>

<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Admin - PacificTravel - @ViewBag.Title</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/Images/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/Content/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/Content/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/Content/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/Content/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/Content/assets/vendor/libs/apex-charts/apex-charts.css" />

    @RenderSection("Head", false)

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/Content/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/Content/assets/js/config.js"></script>

    <script src="https://kit.fontawesome.com/25f90b730d.js" crossorigin="anonymous"></script>

    <script src="~/Content/tinymce/tinymce.min.js"></script>

    <script>tinymce.init({ selector: 'textarea' });</script>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand justify-content-center gap-2" style="margin: 30px 0">
                    <img src="~/Images/Logo.png" alt="PacificTravel Logo" />

                    <span style="color: red; font-weight: bold; font-size: 26px">ADMIN</span>
                </div>

                <ul class="menu-inner py-1">
                    <!-- Dashboards -->
                    @if (ViewBag.active == "Index")
                    {
                        <li class="menu-item active">
                            <a href="/Admin" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-home-smile"></i>
                                <div class="text-truncate" data-i18n="DashBoard">Tổng Quan</div>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="menu-item ">
                            <a href="/Admin" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-home-smile"></i>
                                <div class="text-truncate" data-i18n="DashBoard">Tổng Quan</div>
                            </a>
                        </li>
                    }

                    <!-- Chức Năng Chính -->
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Chức Năng Chính</span>
                    </li>


                    @if (ViewBag.group == "Tours")
                    {
                        <li class="menu-item active open">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bxs-plane-alt"></i>
                                <div class="text-truncate" data-i18n="Tours">Tours</div>
                            </a>

                            <ul class="menu-sub">

                                @if (ViewBag.active == "Tours")
                                {
                                    <li class="menu-item active">
                                        <a href="/Admin/Tours" class="menu-link">
                                            <div class="text-truncate" data-i18n="New Article">Danh sách</div>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="menu-item">
                                        <a href="/Admin/Tours" class="menu-link">
                                            <div class="text-truncate" data-i18n="New Article">Danh sách</div>
                                        </a>
                                    </li>
                                }

                                @if (ViewBag.active == "TourTypes")
                                {
                                    <li class="menu-item active">
                                        <a href="/Admin/TourTypes" class="menu-link">
                                            <div class="text-truncate" data-i18n="List Article">Danh Sách Loại</div>
                                        </a>
                                    </li>

                                }
                                else
                                {
                                    <li class="menu-item">
                                        <a href="/Admin/TourTypes" class="menu-link">
                                            <div class="text-truncate" data-i18n="List Article">Danh Sách Loại</div>
                                        </a>
                                    </li>
                                }

                                @if (ViewBag.active == "TourStatuses")
                                {
                                    <li class="menu-item active">
                                        <a href="/Admin/TourStatuses" class="menu-link">
                                            <div class="text-truncate" data-i18n="List Article">Danh Sách Trạng Thái</div>
                                        </a>
                                    </li>

                                }
                                else
                                {
                                    <li class="menu-item">
                                        <a href="/Admin/TourStatuses" class="menu-link">
                                            <div class="text-truncate" data-i18n="List Article">Danh Sách Trạng Thái</div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bxs-plane-alt"></i>
                                <div class="text-truncate" data-i18n="Tours">Tours</div>
                            </a>

                            <ul class="menu-sub">

                                @if (ViewBag.active == "Tours")
                                {
                                    <li class="menu-item active">
                                        <a href="/Admin/Tours" class="menu-link">
                                            <div class="text-truncate" data-i18n="New Article">Danh sách</div>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="menu-item">
                                        <a href="/Admin/Tours" class="menu-link">
                                            <div class="text-truncate" data-i18n="New Article">Danh sách</div>
                                        </a>
                                    </li>
                                }

                                @if (ViewBag.active == "TourTypes")
                                {
                                    <li class="menu-item active">
                                        <a href="/Admin/TourTypes" class="menu-link">
                                            <div class="text-truncate" data-i18n="List Article">Danh Sách Loại</div>
                                        </a>
                                    </li>

                                }
                                else
                                {
                                    <li class="menu-item">
                                        <a href="/Admin/TourTypes" class="menu-link">
                                            <div class="text-truncate" data-i18n="List Article">Danh Sách Loại</div>
                                        </a>
                                    </li>
                                }

                                @if (ViewBag.active == "TourStatuses")
                                {
                                    <li class="menu-item active">
                                        <a href="/Admin/TourStatuses" class="menu-link">
                                            <div class="text-truncate" data-i18n="List Article">Danh Sách Trạng Thái</div>
                                        </a>
                                    </li>

                                }
                                else
                                {
                                    <li class="menu-item">
                                        <a href="/Admin/TourStatuses" class="menu-link">
                                            <div class="text-truncate" data-i18n="List Article">Danh Sách Trạng Thái</div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }

                    @if (ViewBag.active == "TourGuides")
                    {
                        <li class="menu-item active">
                            <a href="/Admin/TourGuides" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-map"></i>
                                <div class="text-truncate" data-i18n="TourGuides">Hướng Dẫn Viên</div>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="menu-item">
                            <a href="/Admin/TourGuides" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-map"></i>
                                <div class="text-truncate" data-i18n="TourGuides">Hướng Dẫn Viên</div>
                            </a>
                        </li>
                    }

                    @if (ViewBag.group == "News")
                    {
                        <li class="menu-item active">
                            <a href="/Admin/News" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-news"></i>
                                <div class="text-truncate" data-i18n="News">Bài Viết</div>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="menu-item">
                            <a href="/Admin/News" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-news"></i>
                                <div class="text-truncate" data-i18n="News">Bài Viết</div>
                            </a>
                        </li>
                    }



                    @if (ViewBag.active == "Location")
                    {
                        <li class="menu-item active">
                            <a href="/Admin/Location" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-map"></i>
                                <div class="text-truncate" data-i18n="Location">Địa Điểm</div>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="menu-item">
                            <a href="/Admin/Location" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-map"></i>
                                <div class="text-truncate" data-i18n="Location">Địa Điểm</div>
                            </a>
                        </li>
                    }

                    <!-- Người Dùng -->
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Người Dùng</span>
                    </li>

                    @if (ViewBag.active == "Users")
                    {
                        <li class="menu-item active">
                            <a href="/Admin/Users" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-user"></i>
                                <div class="text-truncate" data-i18n="Users">Thành Viên</div>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="menu-item">
                            <a href="/Admin/Users" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-user"></i>
                                <div class="text-truncate" data-i18n="Users">Thành Viên</div>
                            </a>
                        </li>
                    }

                    @if (ViewBag.active == "TourBoughtList")
                    {
                        <li class="menu-item active">
                            <a href="/Admin/TourBoughtList" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-cart-alt"></i>
                                <div class="text-truncate" data-i18n="TourBoughtList">Danh sách đặt tour</div>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="menu-item">
                            <a href="/Admin/TourBoughtList" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-cart-alt"></i>
                                <div class="text-truncate" data-i18n="TourBoughtList">Danh sách đặt tour</div>
                            </a>
                        </li>
                    }

                    @if (ViewBag.active == "RateList")
                    {
                        <li class="menu-item active">
                            <a href="/Admin/RateList" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-star"></i>
                                <div class="text-truncate" data-i18n="RateList">Danh sách đánh giá</div>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="menu-item">
                            <a href="/Admin/RateList" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-star"></i>
                                <div class="text-truncate" data-i18n="RateList">Danh sách đánh giá</div>
                            </a>
                        </li>
                    }

                </ul>
            </aside>
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->

                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
                            <i class="bx bx-menu bx-md"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search -->
                        @*<div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <i class="bx bx-search bx-md"></i>
                                <input type="text"
                                       class="form-control border-0 shadow-none ps-1 ps-sm-2"
                                       placeholder="Search..."
                                       aria-label="Search..." />
                            </div>
                        </div>*@
                        <!-- /Search -->

                        @RenderSection("NavBar", false)

                        <ul class="navbar-nav flex-row align-items-center ms-auto">

                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow p-0"
                                   href="javascript:void(0);"
                                   data-bs-toggle="dropdown">
                                    <span>
                                        @Html.Action("ProfileName", "Auth")
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="/ProfileInfo">
                                            <i class="bx bx-user bx-md me-3"></i><span>Hồ sơ của tôi</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"> <i class="bx bx-lock bx-md me-3"></i><span>Đổi mật khẩu</span> </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider my-1"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/LogOut">
                                            <i class="bx bx-log-out bx-md me-3"></i><span>Đăng Xuất</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                </nav>

                <!-- / Navbar -->

                <!-- Content wrapper -->
                <div class="content-wrapper">

                    @RenderBody()

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->

            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="~/Content/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/Content/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/Content/assets/vendor/js/bootstrap.js"></script>
    <script src="~/Content/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Content/assets/vendor/js/menu.js"></script>

    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/Content/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="~/Content/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/Content/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag before closing body tag for github widget button. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>