@using Web_Tour.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<HUONGDANVIEN>

@{
    ViewBag.Title = "TourGuides";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";

    ViewBag.active = "TourGuides";
}

@section Head {

    <link rel="stylesheet" href="~/Content/PagedList.css">
}

@section NavBar {
    <div class="navbar">
        <a class="new-hdv" href="/Admin/NewTourGuide">Tạo HDV</a>
        <h4 style="margin: 0">Danh Sách Hướng Dẫn Viên</h4>
    </div>
}

<div class="container-xxl flex-grow-1 container-p-y">

    <div class="tour-guides-container">

        <table>
            <tr>
                <th style="width:100px"> Mã HDV </th>
                <th style="width:250px"> Họ Tên HDV </th>
                <th style="width:150px"> SĐT HDV </th>
                <th style="width:250px"> Email HDV </th>
                <th style="width:200px"> Địa Chỉ HDV </th>
                <th style="width:350px"> </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_HDV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HO_TEN_HDV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SDT_HDV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMAIL_HDV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DIA_CHI_HDV)
                    </td>

                    <td class="action">

                        <a href="/Admin/TourGuideEdit?id=@item.ID_HDV" id="edit">Chỉnh Sửa</a>
                        <a href="/Admin/DeleteTourGuide?id=@item.ID_HDV" id="delete">Xóa HDV</a>
                    </td>

                </tr>
            }
        </table>


        <div class="MenuTrang" style=" text-align: center;">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("/TourBoughtList", new { page = page }))

        </div>
    </div>

</div>

<style>
    .tour-guides-container {
        border-radius: 0.375rem;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        background-color: white;
    }

    table th {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
    }

    table td {
        padding: 0.75rem;
        vertical-align: top;
    }

    .action {
        align-content: center;
    }

        .action #detail {
            padding: 8px;
            background-color: #007aff;
            color: white;
            font-size: 16px;
            font-weight: 500;
        }

        .action #edit {
            padding: 8px;
            background-color: #ff6a00;
            color: white;
            font-size: 16px;
            font-weight: 500;
        }

        .action #delete {
            padding: 8px;
            background-color: #ff0300;
            color: white;
            font-size: 16px;
            font-weight: 500;
        }

    .navbar .new-hdv {
        font-weight: bold;
        margin: 0;
        float: left;
        background-color: #ff6c00;
        color: white;
        width: 100px;
        align-content: center;
        text-align: center;
        margin-right: 45px;
        padding: 0 10px;
        height: 40px;
        border-radius: 3px;
    }
</style>

