@model Web_Tour.Models.TOUR

@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/LayoutUser.cshtml";

    ViewBag.topBannerUrl = "/Images/tour-booking-banner.jpg";
}

@section Head {
    <link rel="stylesheet" href="~/Content/tour/booking.css">
}

@section OverlayGradientOnBanner {
    <div class="overlay dark-side-image"></div>
}

@section TopBannerContent {
    <div class="container" style="display: flex; justify-content: center;">
        <div class="slider-text d-md-flex align-items-center" data-scrollax-parent="true">
            <div class="top-banner-content">
                <h1>Đặt Tour</h1>
            </div>
        </div>
    </div>
}

<section class="ftco-section">
    <div class="shrink-container">

        <div class="row progress-wizard" style="border-bottom:0;">
            <div class="col-sm-3 col-xs-12 progress-wizard-step active ">
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="javascript:void(0)" class="progress-wizard-dot">
                    <span style="font-size: 20px">1</span>. Chọn dịch vụ
                </a>
            </div>
            <div class="col-sm-3 col-xs-12 progress-wizard-step  disabled">
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="javascript:void(0)" class="progress-wizard-dot">
                    <span style="font-size: 20px">2</span>. Thanh toán
                </a>
            </div>
            <div class="col-sm-3 col-xs-12 progress-wizard-step  disabled">
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="javascript:void(0)" class="progress-wizard-dot">
                    <span style="font-size: 20px">3</span>. Xác nhận
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="payment-wrap bookingForm" data-gtm-vis-recent-on-screen9489976_22="10720" data-gtm-vis-first-on-screen9489976_22="10720" data-gtm-vis-total-visible-time9489976_22="100" data-gtm-vis-has-fired9489976_22="1">
                    <form role="form" method="post" class="form" id="info-form" action="/Tour/Booking">
                        <div class="no-padding">
                            <div class="title">
                                <h3>SỐ LƯỢNG HÀNH KHÁCH</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-12 no-padding">
                                    <div class="form-group">
                                        <label>Người lớn (*)</label>
                                        <input type="number" name="adult" placeholder="" value="1" class="form-control   has-value " required="required" min="1" pattern="^\d+$">
                                        <span class="error"></span>
                                    </div>

                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-12 no-padding">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-12 no-padding">
                                    <div class="form-group">
                                        <label>Trẻ em </label>
                                        <input type="number" name="child" placeholder="" value="" class="form-control  " min="0" pattern="^\d+$">
                                        <span class="error"></span>
                                    </div>

                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-12 no-padding">
                                    <ul class="highlight-text">
                                        <li>Tour nước ngoài: áp dụng từ 2 đến dưới 12 tuổi</li>
                                        <li>Tour trong nước và tour Campuchia: áp dụng từ 6 đến 11 tuổi</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="title">
                            <h3>PHƯƠNG THỨC THANH TOÁN</h3>
                        </div>

                        <p><b>Chọn một trong các phương thức sau:</b></p>
                        <div class="methods">
                            <div class="method" data-payment-type="offline">

                                <label for="method" style="font-size: 20px; font-weight: bold">
                                    <input value="1" required type="radio" id="pament-method3" data-fee="0" class="payment-method" name="method">
                                    Thanh toán bằng tiền mặt tại văn phòng Lữ hành Pacifictravel
                                </label>
                                <div class="method-content">


                                    <div class="content" id="Cash">
                                        <h2>VĂN PHÒNG LỮ HÀNH Pacifictravel</h2>

                                        <div class="content">
                                            <strong>Địa chỉ:</strong> 168, Nguyễn Văn Cừ nối dài, P. An Bình, Q. Ninh Kiều, Tp. Cần Thơ<br>
                                            <strong>Điện thoại:</strong> 02923798668<br>
                                            <strong>Email:</strong>&nbsp;<a href="mailto:info@Pacifictravel.com">info@Pacifictravel.com</a><br>
                                            <strong>Website:</strong> http://www.Pacifictravel.com
                                        </div>

                                        <div class="content">Quý khách vui lòng đến văn phòng của Pacifictravel để thanh toán và nhận vé.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="method" data-payment-type="online">

                                <label for="method" style="font-size: 20px; font-weight: bold">
                                    <input value="2" type="radio" id="pament-method4" data-fee="0" class="payment-method" name="method">
                                    Thanh toán bằng VietQR
                                </label>
                                <div class="method-content">
                                    <div class="content" id="VietQR">
                                        <p>Hãy xác nhận thông tin và nhấn tiếp tục nhập thông tin hành khách, bạn sẽ thanh toán sau bước này.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="condition-sgt">
                            <label>
                                <input type="checkbox" id="agreement" name="agreement" required> Tôi đã
                                đọc và đồng ý điều khoản
                            </label>
                            <br>
                            <div style="width:100%;height:250px;overflow-y: scroll;padding: 10px;margin:0;border: 1px solid #ccc;border-right: 2px solid #ccc;">
                                <p>Điều khoản này là sự thoả thuận đồng ý của quý khách khi sử dụng dịch vụ thanh toán trên trang web <a href="http://www.Pacifictravel.com">www.Pacifictravel.com</a> của Công ty Dịch vụ Lữ hành Pacifictravel (Lữ hành Pacifictravel) và những trang web của bên thứ ba. Việc quý khách đánh dấu vào ô “Đồng ý” và nhấp chuột vào thanh “Chấp nhận” nghĩa là quý khách đồng ý tất cả các điều khoản thỏa thuận trong các trang web này.</p>

                                <p>&nbsp;</p>

                                <p><strong>Giải thích từ ngữ</strong></p>

                                <p>Điều khoản: là những điều quy định giữa Lữ hành Pacifictravel và quý khách</p>

                                <p>Bên thứ ba: là những đơn vị liên kết với Lữ hành Pacifictravel (OnePay, Vietcombank) nhằm hỗ trợ việc thanh toán qua mạng cho quý khách</p>

                                <p>Vé điện tử: là những thông tin và hành trình của quý khách cho chuyến đi được thể hiện trên một trang giấy mà quý khách có thể in ra được</p>

                                <p><strong>Về sở hữu bản quyền</strong></p>

                                <p>Trang web <a href="http://www.Pacifictravel.com">www.Pacifictravel.com</a> thuộc quyền sở hữu của Lữ hành Pacifictravel và được bảo vệ theo luật bản quyền, quý khách chỉ được sử dụng trang web này với mục đích xem thông tin và đăng ký thanh toán online cho cá nhân chứ không được sử dụng cho bất cứ mục đích thương mại nào khác.</p>

                                <p>Việc lấy nội dung để tham khảo, làm tài liệu cho nghiên cứu phải ghi rõ ràng nguồn lấy từ nội dung trang web Lữ hành Pacifictravel. Không được sử dụng các logo, các nhãn hiệu&nbsp;Lữ hành Lữ hành Pacifictravel dưới mọi hình thức nếu chưa có sự đồng ý của&nbsp;Lữ hành&nbsp;Pacifictravel bằng văn bản.</p>

                                <p><strong>Về thông tin khách hàng</strong></p>

                                <p>Khi đăng ký thanh toán qua mạng, quý khách sẽ được yêu cầu cung cấp một số thông tin cá nhân và thông tin tài khoản.</p>

                                <p>Đối với thông tin cá nhân: Những thông tin này chỉ để phục vụ cho nhu cầu xác nhận sự mua dịch vụ của quý khách và sẽ hiển thị những nội dung cần thiết trên vé điện tử. Lữ hành Pacifictravel cũng sẽ sử dụng những thông tin liên lạc này để gửi đến quý khách những sự kiện, những tin tức khuyến mãi và những ưu đãi đặc biệt nếu quý khách đồng ý. Những thông tin này của quý khách sẽ được Lữ hành Pacifictravel bảo mật và không tiết lộ cho bên thứ ba biết ngoại trừ sự đồng ý của quý khách hoặc là phải tiết lộ theo sự tuân thủ luật pháp quy định.</p>

                                <p>Đối với thông tin tài khoản: Những thông tin này sẽ được Lữ hành Pacifictravel và bên thứ ba áp dụng những biện pháp bảo mật cao nhất do các hệ thống thanh toán nổi tiếng trên thế giới như Visa và MasterCard cung cấp nhằm đảm bảo sự an toàn tuyệt đối của thông tin tài khoản quý khách.</p>

                                <p><strong>Về trang web liên kết</strong></p>

                                <p>Các trang web của Lữ hành Pacifictravel có chứa những liên hệ kết nối với trang web của bên thứ ba. Việc liên kết trang web của bên thứ ba này nhằm chỉ cung cấp những sự tiện lợi cho quý khách chứ không phải là sự tán thành, chấp nhận những nội dung, thông tin sản phẩm của những trang web bên thứ ba. Lữ hành Pacifictravel sẽ không chiu trách nhiệm về bất cứ trách nhiệm pháp lý nào liên quan đến những thông tin gì trong các trang web bên thứ ba.</p>

                                <p><strong>Về hủy tour</strong></p>

                                <p>Trong trường hợp hủy tour, quý khách vui lòng gửi email thông báo hủy tour đến Lữ hành Pacifictravel. Lữ hành Pacifictravel sẽ trao đổi và xác nhận lại tất cả các thông tin của quý khách. Khi hoàn tất việc xác nhận thông tin, Lữ hành Pacifictravel sẽ hoàn tiền vào đúng tài khoản quý khách đã thanh toán sau khi trừ các khoản lệ phí hủy tour. Lệ phí hủy tour sẽ tùy thuộc vào từng tour tuyến quý khách đăng ký.</p>

                                <p><strong>Trách nhiệm của Lữ hành Pacifictravel</strong></p>

                                <p>Lữ hành Pacifictravel có nhiệm vụ bảo mật và lưu trữ an toàn các thông tin của quý khách với sự nghiêm túc cao nhất.</p>

                                <p>Giải quyết những thắc mắc, sai sót, vi phạm mà quý khách gặp phải trong quá trình thanh toán nếu do lỗi của Lữ hành Pacifictravel.</p>

                                <p>Đảm bảo thực hiện đầy đủ mọi dịch vụ theo đúng chương trình mà quý khách đăng ký. Tuy nhiên chúng tôi có toàn quyền thay đổi lộ trình hoặc hủy bỏ chuyến đi du lịch bất cứ lúc nào mà chúng tôi thấy cần thiết vì sự an toàn cho quý khách.</p>

                                <p>Mọi thay đổi nếu có sẽ được thông báo nhanh chóng cho quý khách ngay trước ngày khởi hành hoặc ngay sau khi phát hiện những phát sinh.</p>

                                <p><strong>Trường hợp miễm trách nhiệm đối với Lữ hành Pacifictravel</strong></p>

                                <p>Lữ hành Pacifictravel không chịu trách nhiệm về tất cả những thông tin mà quý khách cung cấp bởi chúng tôi không dễ dàng xác nhận chính xác quý khách nào đăng ký thông tin.</p>

                                <p>Lữ hành Pacifictravel không chịu trách nhiệm về việc thông tin của quý khách bị lấy cắp nếu như việc lấy cắp được thực hiện từ máy của quý khách do bị nhiễm virus máy tính hay do nguyên nhân nào khác.</p>

                                <p>Lữ hành Pacifictravel không chịu trách nhiệm đối với quý khách nếu xảy ra việc hệ thống máy tính của quý khách bị hư hại trong khi đang thanh toán hoặc bị can thiệp liên quan tới việc sử dụng một trang bên ngoài.</p>

                                <p>Lữ hành Pacifictravel không chịu trách nhiệm về việc mất dữ liệu thông tin của quý khách do sự cố khách quan như: thiên tai, hạn hán, hỏa hoạn, chiến tranh,…</p>

                                <p><strong>Trách nhiệm của khách hàng</strong></p>

                                <p>Quý khách cam kết hoàn toàn chịu trách nhiệm về các thông tin cá nhân, thông tin thẻ tín dụng đã được khai báo là trung thực, chính xác. Nếu có sai sót, giả mạo hay tranh chấp phát sinh thì Lữ hành Pacifictravel có quyền hủy tour đã mua của quý khách.</p>

                                <p>Quý khách có nhiệm vụ kiểm tra thông tin tài khoản để kịp thời để báo cho Lữ hành Pacifictravel nếu có những sự cố. Thời hạn trong vòng 30 ngày tính từ ngày thanh toán, Lữ hành Pacifictravel sẽ không nhận giải quyết bất cứ kiếu nại nào từ việc thanh toán.</p>

                                <p>Quý khách không sử dụng các nội dung của trang web do Lữ hành Pacifictravel quản lý cho mục đích thương mại nếu như chưa có sự đồng ý.</p>

                                <p>Quý khách cần tự áp dụng cài đặt các biện pháp phòng ngừa để bảo đảm rằng bất cứ lựa chọn nào của quý khách khi sử dụng các trang web của Lữ hành Pacifictravel không bị virus hoặc bất cứ mối đe dọa nào khác từ ngoài có thể can thiệp hoặc gây hư hại cho hệ thống máy tính của quý khách.</p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="buttonArea galleryBtnArea">
                                <ul class="list-inline">
                                    <li>
                                        <a href="/Details?id=@Model.ID_TOUR" class="btn buttonTransparent">Trở về</a>
                                    </li>
                                    <li class="pull-right">
                                        <div>
                                            <div class="grecaptcha-badge" data-style="bottomright" style="width: 256px; height: 60px; display: block; transition: right 0.3s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;">
                                                <div class="grecaptcha-logo">
                                                    <iframe title="reCAPTCHA" width="256" height="60" role="presentation" name="a-m0z7o5v2nb1f" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LeX0c8UAAAAAJ6RT6EqkGX-tfWHcOaLs-_0qP-Z&amp;co=aHR0cHM6Ly9zYWlnb250b3VyaXN0Lm5ldDo0NDM.&amp;hl=vi&amp;v=aR-zv8WjtWx4lAw-tRCA-zca&amp;size=invisible&amp;cb=r8r4nodq16r6"></iframe>
                                                </div><div class="grecaptcha-error"></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                            </div><iframe style="display: none;"></iframe>
                                        </div>
                                        <button type="submit" data-sitekey="6LeX0c8UAAAAAJ6RT6EqkGX-tfWHcOaLs-_0qP-Z" data-callback="validate" id="submit-button" class="g-recaptcha btn buttonTransparent">Tiếp tục</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <script type="text/javascript">//$.validate({modules: 'html5', errorMessageClass: 'error', lang: 'vi'});</script>
                    </form>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <aside>
                    <div class="bookDetailsInfo">
                        <div class="infoArea">
                            <h3>
                                <a target="_blank" href="/Details?id=@Model.ID_TOUR">@Model.TEN_TOUR</a>
                            </h3>
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fa fa-barcode" aria-hidden="true"></i>Code:
                                    <span>@Model.ID_TOUR</span>
                                </li>
                                <li>
                                    <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>Ngày đi:
                                    <span>@Model.NGAY_DI.ToString("dd/MM/yyyy")</span>
                                </li>
                                <li>
                                    <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>Ngày về:
                                    <span>@Model.NGAY_VE.ToString("dd/MM/yyyy")</span>
                                </li>
                                <li>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>Thời gian:
                                    <span>4 ngày 3 đêm</span>
                                </li>
                                <li id="liAdult" class="display-hidden" style="display: list-item;">
                                    <i class="fa fa-user-secret" aria-hidden="true"></i>Giá Người lớn
                                    :
                                    <span><strong>@String.Format("{0:0,0}", Model.GIA_NGUOI_LON)</strong> VNĐ</span><span id="adult"> X 1</span>
                                </li>
                                <li id="liChild" class="display-hidden" style="display: none;">
                                    <i class="fa fa-child" aria-hidden="true"></i>Giá trẻ em
                                    :
                                    <span><strong>@String.Format("{0:0,0}", Model.GIA_TRE_EM)</strong> VNĐ</span><span id="child"></span>
                                </li>
                            </ul>
                            <div class="priceTotal">
                                <h2>
                                    Tổng: <span id="total-price" name="total-price">4.879.000</span>
                                    <span style="font-size: 16px;
                                        color: #000;
                                        font-weight: 500;
                                        line-height: 21px;
                                        text-transform: lowercase;"> đ</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>

        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        //============================== CLOSE DROPDOWN SELECT =========================
        $(".ed-datepicker input.form-control").focus(function () {
            $(".sbOptions").css("display", "none");
        });



        //============================== ALL DROPDOWN ON HOVER =========================
        $('.dropdown').hover(function () {
            $(this).addClass('open');
        },
            function () {
                $(this).removeClass('open');
            });

        //============================== Rs-Slider =========================
        $('.fullscreenbanner').revolution({
            delay: 5000,
            startwidth: 1170,
            startheight: 480,
            minHeight: 260,
            panZoomDisableOnMobile: "on",
            fullWidth: "on",
            fullScreen: "off",
            hideCaptionAtLimit: "",
            dottedOverlay: "twoxtwo",
            navigationStyle: "preview4",
            fullScreenOffsetContainer: "",
            hideTimerBar: "on"
        });


        //============================== show more tour in view detail tour =========================
        $("#textViewMore").click(function () {
            $('#actionViewMore').addClass('hidden-action');
            $('.tour-detail-content-col .hidden-tour').each(function () {
                $(this).removeClass('hidden-tour');
            });

        });
        //============================== show contactSGT in view detail tour =========================
        $("#viewContactSGT").click(function () {
            $('#viewContactSGT').addClass('contact-hidden');
            $('#contentContactSGT').removeClass('contact-hidden');

        });
        //============================== CHANGE HEADER ON MOUSE SCROLL =========================
        var header = $(".changeHeader .navbar-fixed-top");
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();

            if ((scroll >= 1) && ($(".navbar-default").hasClass("navbar-main"))) {
                header.addClass("lightHeader");
            }
            else if ($(".navbar-default").hasClass("static-light")) {
                header.addClass("lightHeader");
            }
            else {
                header.removeClass("lightHeader");
            }
            ;

        });

        //============================== SELECT BOX =========================
        $('.select-drop').selectbox();

        //============================== Date-picker =========================
        //     $('.datepicker').datepicker({
        //         startDate: "dateToday",
        //         autoclose: true
        //     });

        //============================== COUNTER-UP =========================
        $(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 10,
                time: 2000
            });
        });

        //============================== PRICE SLIDER RANGER =========================
        $(document).ready(function () {
            var minimum = 20;
            var maximum = 300;

            $("#price-range").slider({
                range: true,
                min: minimum,
                max: maximum,
                values: [minimum, maximum],
                slide: function (event, ui) {
                    $("#price-amount-1").val("$" + ui.values[0]);
                    $("#price-amount-2").val("$" + ui.values[1]);
                }
            });

            $("#price-amount-1").val("$" + $("#price-range").slider("values", 0));
            $("#price-amount-2").val("$" + $("#price-range").slider("values", 1));
        });

        //============================== ACCORDION OR COLLAPSE ICON CHANGE =========================

        var allIcons = $(".singlePackage .panel-heading i.fa");
        $('.singlePackage .panel-heading').click(function () {
            allIcons.removeClass('fa-minus').addClass('fa-plus');
            $(this).find('i.fa').removeClass('fa-plus').addClass('fa-minus');
        });

        var allIconsOne = $(".accordionWrappar .panel-heading i.fa");
        $('.accordionWrappar .panel-heading').click(function () {
            allIconsOne.removeClass('fa-minus').addClass('fa-plus');
            $(this).find('i.fa').removeClass('fa-plus').addClass('fa-minus');
        });

        var allIconsExtra = $(".solidBgTitle .panel-heading i.fa");
        $('.solidBgTitle .panel-heading').click(function () {
            allIconsExtra.removeClass('fa-minus').addClass('fa-plus');
            $(this).find('i.fa').removeClass('fa-plus').addClass('fa-minus');
        });

        var allIconsTwo = $(".accordionSolidTitle .panel-heading i.fa");
        $('.accordionSolidTitle .panel-heading').click(function () {
            allIconsTwo.removeClass('fa-arrow-circle-up').addClass('fa-arrow-circle-down');
            $(this).find('i.fa').removeClass('fa-arrow-circle-down').addClass('fa-arrow-circle-up');
        });

        var allIconsThree = $(".accordionSolidBar .panel-heading i.fa");
        $('.accordionSolidBar .panel-heading').click(function () {
            allIconsThree.removeClass('fa-chevron-circle-up').addClass('fa-chevron-circle-down');
            $(this).find('i.fa').removeClass('fa-chevron-circle-down').addClass('fa-chevron-circle-up');
        });

        //============================== SELECT OPEN ACCORDION ITEM TITLE =========================
        $(document).ready(function () {
            $('.accordionWrappar .panel-collapse, .accordionSolidTitle .panel-collapse, .accordionSolidBar .panel-collapse').on('show.bs.collapse', function () {
                $(this).siblings('.panel-heading').addClass('active');
                $(this).addClass('active');
            });

            $('.accordionWrappar .panel-collapse, .accordionSolidTitle .panel-collapse, .accordionSolidBar .panel-collapse').on('hide.bs.collapse', function () {
                $(this).siblings('.panel-heading').removeClass('active');
                $(this).removeClass('active');
            });
        });

        //============================== COUNT DOWN =========================
        $('#simple_timer').syotimer({
            year: 2017,
            month: 5,
            day: 9,
            hour: 20,
            minute: 30,
        });
    });

    $(document).ready(function () {
        // Listen for changes on the radio buttons
        $('input[name="method"]').on('change', function () {
            // Hide all contents first
            $('.method .content').slideUp();

            // Get the toggle value of the selected radio button
            var selectedPaymentMethod = $(this).siblings('label').attr('toggle');

            // Show the corresponding content
            $('#' + selectedPaymentMethod).slideDown();
        });
    });

    $(document).ready(function () {
        // Define prices for adults and children from the server
        var giaNguoiLon = parseInt($("#giaNguoiLon").text().replace(/,/g, '')); // Remove commas for integer conversion
        var giaTreEm = parseInt($("#giaTreEm").text().replace(/,/g, '')); // Remove commas for integer conversion

        // Function to calculate total price
        function calculateTotal() {
            var adultCount = parseInt($("#adultInput").val());
            var childCount = parseInt($("#childInput").val());

            // Update the displayed counts
            $("#adultCount").text(adultCount);
            $("#childCount").text(childCount);

            // Calculate the total price
            var totalPrice = (adultCount * giaNguoiLon) + (childCount * giaTreEm);

            // Format and display the total price
            $("#totalAmount").text(totalPrice.toLocaleString('vi-VN'));
        }

        // Trigger calculation on input change
        $("#adultInput, #childInput").on('input', function () {
            calculateTotal();
        });

        // Initial calculation on page load
        calculateTotal();
    });

    $(document).ready(function () {
        $("#info-form").submit(function (event) {
            // Get the value from the outside field
            var outsideValue = $("#total-price").val();

            // Append the outside field to the form before submission
            $('<span>').attr({
                type: 'hidden',
                name: 'total-price', // Make sure this matches the name you want to retrieve in the controller
                value: totalPrice
            }).appendTo('#myForm');
        });
    });
</script>
