@model Web_Tour.Models.TOUR

@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/LayoutUser.cshtml";

    ViewBag.topBannerUrl = "/Images/tour-booking-banner.jpg";
}

@section Head {
    <link rel="stylesheet" href="~/Content/tour/booking.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://unpkg.com/counterup2@2.0.2/dist/index.js"></script>
    <script src="~/Scripts/jquery.selectBox.js" type="text/javascript"></script>
    <link href="~/Content/jquery.selectBox.css" rel="stylesheet" type="text/css" />
}

@section OverlayGradientOnBanner {
    <div class="overlay dark-side-image"></div>
}

@section TopBannerContent {
    <div class="container" style="display: flex; justify-content: center;">
        <div class="slider-text d-md-flex align-items-center" data-scrollax-parent="true">
            <div class="top-banner-content">
                <h1>Đặt Tour</h1>
            </div>
        </div>
    </div>
}

<section class="ftco-section">
    <div class="shrink-container">

        <div class="row progress-wizard" style="border-bottom:0;">
            <div class="col-sm-3 col-xs-12 progress-wizard-step active ">
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="javascript:void(0)" class="progress-wizard-dot">
                    <span style="font-size: 20px">1</span>. Chọn dịch vụ
                </a>
            </div>
            <div class="col-sm-3 col-xs-12 progress-wizard-step  disabled">
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="javascript:void(0)" class="progress-wizard-dot">
                    <span style="font-size: 20px">2</span>. Thanh toán
                </a>
            </div>
            <div class="col-sm-3 col-xs-12 progress-wizard-step  disabled">
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="javascript:void(0)" class="progress-wizard-dot">
                    <span style="font-size: 20px">3</span>. Xác nhận
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="payment-wrap bookingForm" data-gtm-vis-recent-on-screen9489976_22="10720" data-gtm-vis-first-on-screen9489976_22="10720" data-gtm-vis-total-visible-time9489976_22="100" data-gtm-vis-has-fired9489976_22="1">
                    <form role="form" method="post" class="form" id="info-form" action="/Tour/Booking">
                        <input type="hidden" name="ID_TOUR" value="@Model.ID_TOUR" />
                        <input type="hidden" name="ID_THANH_VIEN" value="@Html.Action("ProfileID", "Auth")" />

                        <div class="no-padding">
                            <div class="title">
                                <h3>SỐ LƯỢNG HÀNH KHÁCH</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-12 no-padding">
                                    <div class="form-group">
                                        <label for="adult-input">Người lớn (*)
                                            <input id="adult-input" type="number" name="adult" value="1" class="form-control   has-value " required min="1">
                                        </label>
                                    </div>

                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-12 no-padding">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-12 no-padding">
                                    <div class="form-group">
                                        <label for="child-input">Trẻ em 
                                            <input id="child-input" type="number" name="child" class="form-control" min="0">
                                        </label>
                                    </div>

                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-12 no-padding">
                                    <ul class="highlight-text">
                                        <li>Tour nước ngoài: áp dụng từ 2 đến dưới 12 tuổi</li>
                                        <li>Tour trong nước và tour Campuchia: áp dụng từ 6 đến 11 tuổi</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="title">
                            <h3>LOẠI TOUR</h3>
                        </div>

                        <p>
                            <b>Hãy chọn loại tour mà bạn muốn đi:</b>
                        </p>
                        <div class="tour-types">
                            <div class="tour-type">

                                <label for="tour-type" style="font-size: 20px; font-weight: bold">
                                    <input value="1" required type="radio" id="pament-tour-type3" data-fee="0" class="tour-type-input" name="tour-type">
                                    Tour Đoàn
                                </label>
                                <div class="tour-type-content">
                                    <div class="content" id="tour-doan">
                                        <p><span style="font-weight: bold">Tour đoàn là một hình thức du lịch mà nhiều người</span> cùng tham gia vào một chương trình du lịch có sẵn. Thay vì tự lên kế hoạch và đi một mình hoặc với một nhóm bạn nhỏ, khi tham gia tour đoàn, bạn sẽ trở thành một phần của một nhóm lớn hơn, cùng nhau trải nghiệm hành trình khám phá.</p><br />
                                        <p>
                                            Nên chọn tour đoàn khi:

                                            Bạn muốn tiết kiệm chi phí và thời gian.
                                            Bạn muốn khám phá nhiều địa điểm khác nhau trong một thời gian ngắn.
                                            Bạn muốn làm quen với nhiều người mới.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tour-type">

                                <label for="tour-type" style="font-size: 20px; font-weight: bold">
                                    <input value="2" type="radio" id="pament-tour-type4" data-fee="0" class="tour-type-input" name="tour-type">
                                    Tour Riêng
                                </label>
                                <div class="tour-type-content">
                                    <div class="content" id="tour-rieng">
                                        <p><span style="font-weight: bold">Tour riêng là hình thức du lịch với một nhóm bạn</span> cùng tham gia một chương trình du lịch có sẵn.</p>
                                        <p>
                                            Khi nào nên chọn tour riêng:

                                            Bạn muốn có một chuyến đi riêng tư và thoải mái.
                                            Bạn có những yêu cầu đặc biệt về dịch vụ.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="title">
                            <h3>PHƯƠNG THỨC THANH TOÁN</h3>
                        </div>

                        <p>
                            <b>Chọn một trong các phương thức sau:</b>
                        </p>
                        <div class="methods">
                            <div class="method" data-payment-type="offline">

                                <label for="method" style="font-size: 20px; font-weight: bold">
                                    <input value="1" required type="radio" id="pament-method3" data-fee="0" class="payment-method" name="method">
                                    Thanh toán bằng tiền mặt tại văn phòng Lữ hành Pacifictravel
                                </label>
                                <div class="method-content">


                                    <div class="content" id="Cash">
                                        <h2>VĂN PHÒNG LỮ HÀNH Pacifictravel</h2>

                                        <div class="content">
                                            <strong>Địa chỉ:</strong> 168, Nguyễn Văn Cừ nối dài, P. An Bình, Q. Ninh Kiều, Tp. Cần Thơ
                                            <br>
                                            <strong>Điện thoại:</strong> 02923798668
                                            <br>
                                            <strong>Email:</strong>&nbsp;
                                            <a href="mailto:info@Pacifictravel.com">info@Pacifictravel.com</a>
                                            <br>
                                            <strong>Website:</strong> http://www.Pacifictravel.com
                                        </div>

                                        <div class="content">Quý khách vui lòng đến văn phòng của Pacifictravel để thanh toán và nhận vé.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="method" data-payment-type="online">

                                <label for="method" style="font-size: 20px; font-weight: bold">
                                    <input value="2" type="radio" id="pament-method4" data-fee="0" class="payment-method" name="method">
                                    Thanh toán bằng VietQR
                                </label>
                                <div class="method-content">
                                    <div class="content" id="VietQR">
                                        <p>Hãy xác nhận thông tin và thanh toán bằng VietQR sau bước này.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="condition-sgt">
                            <label>
                                <input type="checkbox" id="agreement" name="agreement" required> Tôi đã
                                đọc và đồng ý điều khoản
                            </label>
                            <br>
                            <div style="width:100%;height:250px;overflow-y: scroll;padding: 10px;margin:0;border: 1px solid #ccc;border-right: 2px solid #ccc;">
                                <p>
                                    Điều khoản này là sự thoả thuận đồng ý của quý khách khi sử dụng dịch vụ thanh toán trên trang web
                                    <a href="http://www.Pacifictravel.com">www.Pacifictravel.com</a> của Công ty Dịch vụ Lữ hành Pacifictravel (Lữ hành Pacifictravel) và những trang web của bên thứ ba. Việc quý khách đánh dấu vào ô “Đồng ý” và nhấp chuột vào thanh “Chấp nhận” nghĩa là quý khách đồng ý tất cả các điều khoản thỏa thuận trong các trang web này.
                                </p>

                                <p>&nbsp;</p>

                                <p>
                                    <strong>Giải thích từ ngữ</strong>
                                </p>

                                <p>Điều khoản: là những điều quy định giữa Lữ hành Pacifictravel và quý khách</p>

                                <p>Bên thứ ba: là những đơn vị liên kết với Lữ hành Pacifictravel (OnePay, Vietcombank) nhằm hỗ trợ việc thanh toán qua mạng cho quý khách</p>

                                <p>Vé điện tử: là những thông tin và hành trình của quý khách cho chuyến đi được thể hiện trên một trang giấy mà quý khách có thể in ra được</p>

                                <p>
                                    <strong>Về sở hữu bản quyền</strong>
                                </p>

                                <p>
                                    Trang web
                                    <a href="http://www.Pacifictravel.com">www.Pacifictravel.com</a> thuộc quyền sở hữu của Lữ hành Pacifictravel và được bảo vệ theo luật bản quyền, quý khách chỉ được sử dụng trang web này với mục đích xem thông tin và đăng ký thanh toán online cho cá nhân chứ không được sử dụng cho bất cứ mục đích thương mại nào khác.
                                </p>

                                <p>Việc lấy nội dung để tham khảo, làm tài liệu cho nghiên cứu phải ghi rõ ràng nguồn lấy từ nội dung trang web Lữ hành Pacifictravel. Không được sử dụng các logo, các nhãn hiệu&nbsp;Lữ hành Lữ hành Pacifictravel dưới mọi hình thức nếu chưa có sự đồng ý của&nbsp;Lữ hành&nbsp;Pacifictravel bằng văn bản.</p>

                                <p>
                                    <strong>Về thông tin khách hàng</strong>
                                </p>

                                <p>Khi đăng ký thanh toán qua mạng, quý khách sẽ được yêu cầu cung cấp một số thông tin cá nhân và thông tin tài khoản.</p>

                                <p>Đối với thông tin cá nhân: Những thông tin này chỉ để phục vụ cho nhu cầu xác nhận sự mua dịch vụ của quý khách và sẽ hiển thị những nội dung cần thiết trên vé điện tử. Lữ hành Pacifictravel cũng sẽ sử dụng những thông tin liên lạc này để gửi đến quý khách những sự kiện, những tin tức khuyến mãi và những ưu đãi đặc biệt nếu quý khách đồng ý. Những thông tin này của quý khách sẽ được Lữ hành Pacifictravel bảo mật và không tiết lộ cho bên thứ ba biết ngoại trừ sự đồng ý của quý khách hoặc là phải tiết lộ theo sự tuân thủ luật pháp quy định.</p>

                                <p>Đối với thông tin tài khoản: Những thông tin này sẽ được Lữ hành Pacifictravel và bên thứ ba áp dụng những biện pháp bảo mật cao nhất do các hệ thống thanh toán nổi tiếng trên thế giới như Visa và MasterCard cung cấp nhằm đảm bảo sự an toàn tuyệt đối của thông tin tài khoản quý khách.</p>

                                <p>
                                    <strong>Về trang web liên kết</strong>
                                </p>

                                <p>Các trang web của Lữ hành Pacifictravel có chứa những liên hệ kết nối với trang web của bên thứ ba. Việc liên kết trang web của bên thứ ba này nhằm chỉ cung cấp những sự tiện lợi cho quý khách chứ không phải là sự tán thành, chấp nhận những nội dung, thông tin sản phẩm của những trang web bên thứ ba. Lữ hành Pacifictravel sẽ không chiu trách nhiệm về bất cứ trách nhiệm pháp lý nào liên quan đến những thông tin gì trong các trang web bên thứ ba.</p>

                                <p>
                                    <strong>Về hủy tour</strong>
                                </p>

                                <p>Trong trường hợp hủy tour, quý khách vui lòng gửi email thông báo hủy tour đến Lữ hành Pacifictravel. Lữ hành Pacifictravel sẽ trao đổi và xác nhận lại tất cả các thông tin của quý khách. Khi hoàn tất việc xác nhận thông tin, Lữ hành Pacifictravel sẽ hoàn tiền vào đúng tài khoản quý khách đã thanh toán sau khi trừ các khoản lệ phí hủy tour. Lệ phí hủy tour sẽ tùy thuộc vào từng tour tuyến quý khách đăng ký.</p>

                                <p>
                                    <strong>Trách nhiệm của Lữ hành Pacifictravel</strong>
                                </p>

                                <p>Lữ hành Pacifictravel có nhiệm vụ bảo mật và lưu trữ an toàn các thông tin của quý khách với sự nghiêm túc cao nhất.</p>

                                <p>Giải quyết những thắc mắc, sai sót, vi phạm mà quý khách gặp phải trong quá trình thanh toán nếu do lỗi của Lữ hành Pacifictravel.</p>

                                <p>Đảm bảo thực hiện đầy đủ mọi dịch vụ theo đúng chương trình mà quý khách đăng ký. Tuy nhiên chúng tôi có toàn quyền thay đổi lộ trình hoặc hủy bỏ chuyến đi du lịch bất cứ lúc nào mà chúng tôi thấy cần thiết vì sự an toàn cho quý khách.</p>

                                <p>Mọi thay đổi nếu có sẽ được thông báo nhanh chóng cho quý khách ngay trước ngày khởi hành hoặc ngay sau khi phát hiện những phát sinh.</p>

                                <p>
                                    <strong>Trường hợp miễm trách nhiệm đối với Lữ hành Pacifictravel</strong>
                                </p>

                                <p>Lữ hành Pacifictravel không chịu trách nhiệm về tất cả những thông tin mà quý khách cung cấp bởi chúng tôi không dễ dàng xác nhận chính xác quý khách nào đăng ký thông tin.</p>

                                <p>Lữ hành Pacifictravel không chịu trách nhiệm về việc thông tin của quý khách bị lấy cắp nếu như việc lấy cắp được thực hiện từ máy của quý khách do bị nhiễm virus máy tính hay do nguyên nhân nào khác.</p>

                                <p>Lữ hành Pacifictravel không chịu trách nhiệm đối với quý khách nếu xảy ra việc hệ thống máy tính của quý khách bị hư hại trong khi đang thanh toán hoặc bị can thiệp liên quan tới việc sử dụng một trang bên ngoài.</p>

                                <p>Lữ hành Pacifictravel không chịu trách nhiệm về việc mất dữ liệu thông tin của quý khách do sự cố khách quan như: thiên tai, hạn hán, hỏa hoạn, chiến tranh,…</p>

                                <p>
                                    <strong>Trách nhiệm của khách hàng</strong>
                                </p>

                                <p>Quý khách cam kết hoàn toàn chịu trách nhiệm về các thông tin cá nhân, thông tin thẻ tín dụng đã được khai báo là trung thực, chính xác. Nếu có sai sót, giả mạo hay tranh chấp phát sinh thì Lữ hành Pacifictravel có quyền hủy tour đã mua của quý khách.</p>

                                <p>Quý khách có nhiệm vụ kiểm tra thông tin tài khoản để kịp thời để báo cho Lữ hành Pacifictravel nếu có những sự cố. Thời hạn trong vòng 30 ngày tính từ ngày thanh toán, Lữ hành Pacifictravel sẽ không nhận giải quyết bất cứ kiếu nại nào từ việc thanh toán.</p>

                                <p>Quý khách không sử dụng các nội dung của trang web do Lữ hành Pacifictravel quản lý cho mục đích thương mại nếu như chưa có sự đồng ý.</p>

                                <p>Quý khách cần tự áp dụng cài đặt các biện pháp phòng ngừa để bảo đảm rằng bất cứ lựa chọn nào của quý khách khi sử dụng các trang web của Lữ hành Pacifictravel không bị virus hoặc bất cứ mối đe dọa nào khác từ ngoài có thể can thiệp hoặc gây hư hại cho hệ thống máy tính của quý khách.</p>
                            </div>
                        </div>

                        <input type="hidden" name="submit-total-price" id="submit-total-price" value="@String.Format("{0:0,0}", Model.GIA_NGUOI_LON)" />

                        <div class="col-xs-12">
                            <div class="buttonArea galleryBtnArea">
                                <ul class="list-inline">
                                    <li>
                                        <a href="/Details?id=@Model.ID_TOUR" class="btn buttonTransparent">Trở về</a>
                                    </li>
                                    <li class="pull-right">
                                        <button type="submit" id="submit-button" class="g-recaptcha btn buttonTransparent">Tiếp tục</button>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <aside>
                    <div class="bookDetailsInfo">
                        <img src="@Url.Content("~/Images/tour/" + Model.ANH_BIA_TOUR)" alt="@Model.TEN_TOUR" />
                        <div class="infoArea">
                            <h3>
                                <a target="_blank" href="/Details?id=@Model.ID_TOUR">@Model.TEN_TOUR</a>
                            </h3>
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fa fa-barcode" aria-hidden="true"></i>Code:
                                    <span>@Model.ID_TOUR</span>
                                </li>
                                <li>
                                    <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>Ngày đi:
                                    <span>@Model.NGAY_DI.ToString("dd/MM/yyyy")</span>
                                </li>
                                <li>
                                    <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>Ngày về:
                                    <span>@Model.NGAY_VE.ToString("dd/MM/yyyy")</span>
                                </li>
                                <li>
                                    <i class="fa fa-calendar" aria-hidden="true"></i>Thời gian:
                                    <span>4 ngày 3 đêm</span>
                                </li>
                                <li id="liAdult" class="display-hidden" style="display: list-item;">
                                    <i class="fa fa-user-secret" aria-hidden="true"></i>Giá Người lớn:
                                    <span><strong>@String.Format("{0:0,0}", Model.GIA_NGUOI_LON)</strong> VNĐ</span>
                                    <span id="adult"> X 1</span>
                                </li>
                                <li id="liChild" class="display-hidden" style="display: none;">
                                    <i class="fa fa-child" aria-hidden="true"></i>Giá trẻ em:
                                    <span><strong>@String.Format("{0:0,0}", Model.GIA_TRE_EM)</strong> VNĐ</span>
                                    <span id="child"></span>
                                </li>
                            </ul>
                            <div class="priceTotal">
                                <h2>
                                    Tổng:
                                    <span id="total-price" name="total-price">@String.Format("{0:0,0}", Model.GIA_NGUOI_LON)</span>
                                    <span style="font-size: 16px;
                                        color: #000;
                                        font-weight: 500;
                                        line-height: 21px;
                                        text-transform: lowercase;"> VNĐ</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>

        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        //============================== CLOSE DROPDOWN SELECT =========================
        $(".ed-datepicker input.form-control").focus(function () {
            $(".sbOptions").css("display", "none");
        });



        //============================== ALL DROPDOWN ON HOVER =========================
        $('.dropdown').hover(function () {
            $(this).addClass('open');
        },
            function () {
                $(this).removeClass('open');
            });



        //============================== show more tour in view detail tour =========================
        $("#textViewMore").click(function () {
            $('#actionViewMore').addClass('hidden-action');
            $('.tour-detail-content-col .hidden-tour').each(function () {
                $(this).removeClass('hidden-tour');
            });

        });

        //============================== ACCORDION OR COLLAPSE ICON CHANGE =========================

        var allIcons = $(".singlePackage .panel-heading i.fa");
        $('.singlePackage .panel-heading').click(function () {
            allIcons.removeClass('fa-minus').addClass('fa-plus');
            $(this).find('i.fa').removeClass('fa-plus').addClass('fa-minus');
        });

        var allIconsOne = $(".accordionWrappar .panel-heading i.fa");
        $('.accordionWrappar .panel-heading').click(function () {
            allIconsOne.removeClass('fa-minus').addClass('fa-plus');
            $(this).find('i.fa').removeClass('fa-plus').addClass('fa-minus');
        });

        var allIconsExtra = $(".solidBgTitle .panel-heading i.fa");
        $('.solidBgTitle .panel-heading').click(function () {
            allIconsExtra.removeClass('fa-minus').addClass('fa-plus');
            $(this).find('i.fa').removeClass('fa-plus').addClass('fa-minus');
        });

        var allIconsTwo = $(".accordionSolidTitle .panel-heading i.fa");
        $('.accordionSolidTitle .panel-heading').click(function () {
            allIconsTwo.removeClass('fa-arrow-circle-up').addClass('fa-arrow-circle-down');
            $(this).find('i.fa').removeClass('fa-arrow-circle-down').addClass('fa-arrow-circle-up');
        });

        var allIconsThree = $(".accordionSolidBar .panel-heading i.fa");
        $('.accordionSolidBar .panel-heading').click(function () {
            allIconsThree.removeClass('fa-chevron-circle-up').addClass('fa-chevron-circle-down');
            $(this).find('i.fa').removeClass('fa-chevron-circle-down').addClass('fa-chevron-circle-up');
        });

        //============================== SELECT OPEN ACCORDION ITEM TITLE =========================
        $(document).ready(function () {
            $('.accordionWrappar .panel-collapse, .accordionSolidTitle .panel-collapse, .accordionSolidBar .panel-collapse').on('show.bs.collapse', function () {
                $(this).siblings('.panel-heading').addClass('active');
                $(this).addClass('active');
            });

            $('.accordionWrappar .panel-collapse, .accordionSolidTitle .panel-collapse, .accordionSolidBar .panel-collapse').on('hide.bs.collapse', function () {
                $(this).siblings('.panel-heading').removeClass('active');
                $(this).removeClass('active');
            });
        });

    });

    function updateAmount() {
        var adult = $("input[name=adult]").val();
        var child = $("input[name=child]").val();
        if (adult > 0) {
            $("#liAdult").show();
        } else {
            $("#liAdult").hide();
        }
        if (child > 0) {
            $("#liChild").show();
        } else {
            $("#liChild").hide();
        }

        $("#adult").html(adult > 0 ? " X " + adult : "");
        $("#child").html(child > 0 ? " X " + child : "");

        var totalPrice = @String.Format("{0:0}", Model.GIA_NGUOI_LON) * adult + child * @String.Format("{0:0}", Model.GIA_TRE_EM);

        $("#total-price").html(totalPrice.formatMoney(0, ',', '.'));
        $("#submit-total-price").val(totalPrice);
    }

    $(document).on('ready', function () {
        $("body").on('input', 'input[name=adult],input[name=child]', function () {
            updateAmount();
        });
    });

    Number.prototype.formatMoney = function (c, d, t) {
        var n = this,
            c = isNaN(c = Math.abs(c)) ? 2 : c,
            d = d == undefined ? "." : d,
            t = t == undefined ? "," : t,
            s = n < 0 ? "-" : "",
            i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
            j = (j = i.length) > 3 ? j % 3 : 0;
        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };

    // Lấy phần tử infoArea
    const infoArea = document.querySelector('.infoArea');

    // Vị trí Y-axis mà khi cuộn tới sẽ thêm class
    const triggerHeight = 900; // Điều chỉnh giá trị này tùy theo nhu cầu

    // Lắng nghe sự kiện cuộn
    window.addEventListener('scroll', function () {
        // Lấy vị trí hiện tại của trang theo trục Y
        let scrollY = window.scrollY || window.pageYOffset;

        // Nếu cuộn vượt qua triggerHeight, thêm class fixedRightInfo
        if (scrollY > triggerHeight) {
            infoArea.classList.add('fixedRightInfo');
        } else {
            // Nếu cuộn trở lại vị trí ban đầu, bỏ class fixedRightInfo
            infoArea.classList.remove('fixedRightInfo');
        }
    });
</script>

<style>
    html {
        scroll-behavior: smooth;
    }

    .fixedRightInfo {
        position: fixed;
        top: 120px;
        z-index: 1;
        max-width: 370px;
        webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
        width: 100%;
        max-height: 80%;
        overflow: hidden;
        overflow-y: auto;
    }
</style>