@using Web_Tour.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<BAI_VIET>

@{
    ViewBag.Title = "Tin tức PacificTravel";
    Layout = "~/Views/Shared/LayoutUser.cshtml";

    ViewBag.active = "News";
    ViewBag.topBannerUrl = "/Images/news-banner.jpg";
}

@helper Truncate(string input, int length)
{
    if (input == null)
    {
        <text></text>
    }

    else if (input.Length <= length)
    {
        @Html.Raw(input)
    }
    else
    {
        var thisString = input.Substring(0, length);
        @Html.Raw(thisString)<text>...</text>
    }
}

@section Head {
    <link rel="stylesheet" href="~/Content/user/news.css">
}

@section OverlayGradientOnBanner {
    <div class="overlay dark-side-image"></div>
}

@section TopBannerContent {
    <div class="container" style="display: flex; justify-content: center;">
        <div class="slider-text d-md-flex align-items-center" data-scrollax-parent="true">
            <div class="top-banner-content">
                <h1>Tin tức <span style="color: #ff6c00">PacificTravel</span></h1>
            </div>
        </div>
    </div>
}

<section class="ftco-section">
    <div class="container">

        <div class="news-container">

            @foreach (var item in Model)
            {
                <div class="news-item">

                    <div class="news-img">
                        <a href="/User/Article?id=@item.ID_BAI_VIET">
                            <img src="~/Images/articles/@item.ANH_BIA_BAI_VIET">
                        </a>
                    </div>

                    <div class="news-info">

                        <div class="news-content">
                            <a href="/User/Article?id=@item.ID_BAI_VIET"><h3 class="news-title">@item.TIEU_DE</h3></a>
                            <div class="date">
                                <i class="fa-regular fa-calendar"></i>
                                @item.THOI_GIAN_TAO
                            </div>
                            <p>@Truncate(@Html.Action("ConvertHtmlToPlainText", "User", new { html = item.NOI_DUNG }).ToString(), 200)</p>
                        </div>

                        <a class="news-button" href="/User/Article?id=@item.ID_BAI_VIET"><span>XEM THÊM</span></a>

                    </div>

                </div>
            }


        </div>
        <div class="MenuTrang" style=" text-align: center;">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("/Tours", new { sort = Request["sort"], page = page }))

        </div>

    </div>
</section>